<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new chats</title>
    <meta name="author" content="suraj kumar sharma">
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <h1 class="main-heading">mini whatapps</h1>
    </header>


    <div class="chat-form-body">
        <form action="/chats" method="POST" class="chat-new-create-form">
            <p class="chat-create-title">Write new chat</p>
            <div class="form-control">
                <label for="sender">Sender : </label>
                <input type="text" name="sender" id="sender" placeholder="who are you?" required="on" autocomplete="off"
                    autofocus="on">
            </div>
            <div class="form-control">
                <label for="message">Message : </label>
                <textarea type="text" name="message" id="message" placeholder="who are you?" required="on"
                    autocomplete="off" autofocus="on"></textarea>
            </div>
            <div class="form-control">
                <label for="receiver">Receiver : </label>
                <input type="text" name="receiver" id="receiver" placeholder="who are receiver?" required="on"
                    autocomplete="off" autofocus="on">
            </div>

            <div class="btn-container">
                <button class="create-chat-btn">create chat</button>
            </div>
        </form>
    </div>

</body>

</html>